.LayoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Pokemon-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 200px auto;

  padding: 3px;
}
